html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: darkseagreen;
}

div {
    color: darkolivegreen; 
    text-align: center; 
    font-family: sans-serif;
}

h1 {
    font-size: 200px;
}

a {
    font-size: 30px; 
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: green;
}
