body {
    background-color: darkseagreen;
}

div {
    color: darkolivegreen; 
    text-align: center; 
    font-family: sans-serif;
}

h1 {
    font-size: 200px;
}

a {
    font-size: 25px; 
    color: aliceblue;
    background-color: darkseagreen;
    width: 20px;
    border: 5px solid darkolivegreen;
    padding: 10px;
    margin: 10px;
}