body {
    background-color: darkseagreen;
}

div {
    color: darkolivegreen; 
    text-align: center; 
    font-family: sans-serif;
}

h1 {
    font-size: 200px;
}

a {
    font-size: 25px; 
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    background-color: green;
}