body {
    background-color: darksalmon;
}

h1 {
    font-family: sans-serif;
    font-size: 300%;
}

#imgid {
    width: 50%;
}

#rightfloat {
    float: auto;
    font-family: sans-serif;
    font-size: 200%;
}