body {
    background-color: darksalmon;
    height: 100%;
}

.alignleft {
    float: left;
    font-family: sans-serif;
    font-size: 2vw;
}

.alignright {
    float: right;
    font-family: sans-serif;
    font-size: 2vw;
}

#imgone {
    text-align: left;
    width: 50%;
}

#imgtwo {
    float: right;
    width: 50%;
    height: 80%;
    max-height: 100%;
    object-fit: cover;
}

#firsttext {
    float: left;
    font-family: sans-serif;
    font-size: 1vw;
}

#secondtext {
    float: right;
    font-family: sans-serif;
    font-size: 1vw;
}